/* -------------------- font -------------------- */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
/* -------------------- shared styles -------------------- */
body{
    margin: 0;
}
.body-margin{
    margin: 0 140px;
}
.display-flex{
    display: flex;
}



/* -------------------- nav bar styles -------------------- */
.navbar{
    margin: 30px 140px;
    align-items: center;
    justify-content: space-between;
}
.logo{
    align-items: center;
}
.logo-text{
    font-size: 2rem;
    margin: 0%;
}
.nav-items{
    list-style-type: none;
    gap: 32px;
    font-size: 1.25rem;
}
.nav-home{
    color: #FEA301;
    font-weight: 700;
}
.nav-about{
    color: #01ACFD;
}
.nav-facilities{
    color: #05D4DF;
}
.nav-admission{
    color: #5D58EF;
}
.nav-btn{
    background-color: #FEA301;
    font-size: 1.24rem;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
    font-weight: 500;
    color: white;
}
.logo-icon{
    padding-left: 15px;
}
.hamburger-menu{
    display: none;
    padding-right: 15px;
}



/* ------------------hero section style ------------------ */
.hero-section{
    margin: 0 140px;
    gap: 50px;
    align-items: center;
}
.hero-heading{
    margin: 0%;
    font-size: 3.5rem;
    font-weight: 700;
}
.empower-text{
    color: #FEA301;
}
.towards-text{
    color: #01ACFD;
}
.hero-description{
    font-size: 1.25rem;
    color: black;
    font-weight: 400;
}
.hero-kid{
    width: 100%;
}
.enroll-btn{
    background-color: black;
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
    border: none;
    border-radius: 12px;
    padding: 10px 47px;
}


/* -----------------------Curriculum section style------------------------- */
.curriculum-section-title{
    font-size: 2.9rem;
    font-weight: 700;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
}
.curriculum-section-container{
    margin: 0%;
     background-image: url(../assets/bg.png);
     background-repeat: no-repeat;

}
.curriculum-card{
    height: 476px;
    width: 365px;
    padding: 30px;
    justify-items: center;
    align-content: center;
    text-align: center;
    border-radius: 20px;
    border: none;
    box-shadow: inset 0 2px 16px rgba(0, 0, 0, 0.05);
}
.curriculum-card-container{
    margin: 0 140px;
    justify-content: center;
    align-items: center;
    gap: 28px;
}
.curriculum-title{
    font-size: 1.5rem;
    font-weight: 700;
}
.curriculum-des{
    font-size: 1rem;
    font-weight: 500;
    color: #808080; 
}
.kinder-read-more{
    color: #64C8FF;
    font-size: 1.2rem;
    font-weight: 700;
}
.elementary-read-more{
    color: #F0AA00;
    font-size: 1.2rem;
    font-weight: 700;
}
.middle-read-more{
    color: #8700FF;
    font-size: 1.2rem;
    font-weight: 700;
}
.kinder-card{
    background-image: linear-gradient(to bottom, rgba(222, 245, 255, 1), #ffff);
}
.elementary-card{
    background-image: linear-gradient(to bottom, rgba(255, 244, 220, 1), #ffff);
}
.middle-card{
    background-image: linear-gradient(to bottom, rgba(242, 232, 255, 1), #ffff);
}
.arrows-btn{
    margin: 70px auto;
    justify-content: space-around;
}







/* -------------------- responsive media queries for mobile screen -------------------- */
@media screen and (max-width: 576px) {
    .navbar{
        margin: 16px 0 16px 0;
        padding-bottom: 15px;
        border-bottom: 2px solid #FEA301;
    }
    .logo-text{
        display: none;
    }
    .nav-items{
        display: none;
    }
    .nav-home{
        display: none;
    }
    .nav-about{
        display: none;
    }
    .nav-facilities{
        display: none;
    }
    .nav-admission{
        display: none;
    }
    .nav-btn{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }

    /* ------------------ hero section ------------------ */
    .hero-section{
        flex-direction: column;
        flex-direction: column-reverse;
        margin: 15px;
    }
    .hero-content{
        justify-items: center;
    }
    .hero-heading{
        text-align: center;
    }
    .hero-description{
        text-align: center;
    }

    /* -----------------------Curriculum section style------------------------- */
    .curriculum-card-container{
        flex-direction: column;
    }
    .arrows-btn{
        display: none;
    }
    .curriculum-section-container{
        background-repeat: repeat;
    }
}